<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新學生信息</title>
</head>
<body>
<form  action="/thymeleaf/update" method="post" >
    姓名:<input th:type="text" th:name="name" th:value="${student.name}">
    編號:<input th:type="text" th:name="reg_No" th:value="${student.reg_No}">
    成績:<input th:type="text" th:name="grade" th:value="${student.grade}">
    <input th:type="hidden" th:name="id" th:value="${student.id}">
    <input type="submit" value="提交">
</form>
</body>
</html>